# End-to-End Data Pipeline Project using Pandas

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
from requests.exceptions import ConnectionError, Timeout, HTTPError, RequestException

pd.set_option('display.max_rows', None)

In [ ]:
url = "https://www.theguardian.com/sport/datablog/2012/jun/25/olympic-medal-winner-list-data#data"

In [ ]:
# Fetching the data from website

with requests.Session() as session:
    try:
        response = session.get(url, timeout=10)
        response.raise_for_status()
        df = pd.read_html(response.content)[0]

        print("Data fetched sucessfully")

    except (ConnectionError):
        print(f"Failed to connect to server")

    except (Timeout):
        print(f"Request timed out")

    except (HTTPError):
        print(f"HTTP error occurred, page not found")

Data fetched sucessfully

**Explanation of code:**

Line 8: `with requests.Session() as session`:

This line starts a session using the requests library. Sessions are helpful for making multiple requests to the same website efficiently.

Line 9: `try:`

This begins a try-except block, which is used for error handling. The code within the try block will be executed, and if any errors occur, the corresponding except block will handle them.

Line 10: `response = session.get(url, timeout=10)`

This line uses the session to send a GET request to the specified URL to retrieve data. timeout=10 sets a timeout of 10 seconds, meaning the request will fail if it takes longer than that.

***How do I know if the first table is the one I am looking for?***

1. Inspecting the HTML Source:

  The most reliable way is to inspect the HTML source code of the webpage you're scraping.
  You can do this in your web browser by right-clicking on the page and selecting "View Page Source" or a similar option.
  Look for the "<'table>" elements in the HTML. The first "<'table>" tag usually corresponds to the first table that pd.read_html will find.
  Examine the table's structure (rows, columns, headers) within the HTML to confirm if it contains the data you need.

2. Trial and Error:

  If inspecting the HTML is not convenient, you can use trial and error.
  Start by assuming the first table ([0]) is the correct one.
  After running pd.read_html, print the DataFrame's head (first few rows) using df.head().
  If the output matches the data you expect, then you've selected the right table.
  If not, try accessing other tables by changing the index (e.g., [1], [2]) until you find the one with the desired data.

3. Developer Tools (Browser):

  Modern web browsers have developer tools that can help you inspect elements on a page.
  You can use these tools to identify the specific HTML table element that contains your data and its index.
  In the context of the Guardian Olympic Medals webpage:

  Based on the structure of the webpage, it's very likely that the first table ([0]) contains the primary medal data. This is a common pattern on data-heavy webpages.
  However, it's always a good practice to confirm using one of the above methods, especially if you're working with a new or unfamiliar website. *italicized text*



Line 11: `response.raise_for_status()`

This checks if the request was successful (status code 200). If the request failed (e.g., 404 Not Found), it will raise an HTTPError exception.

Line 12: `df = pd.read_html(response.content)[0]`

This extracts the first HTML table from the response content using Pandas' read_html function, as discussed previously.

Line 14: `print("Data fetched successfully")`

If the code reaches this point without errors, it means the data was fetched successfully.

Lines 16-20: `except ...`

These lines define different except blocks to handle specific types of errors.

In [ ]:
df

,Athlete,Country,Bronze,Silver,Gold,Grand Total
0,"LATYNINA, Larisa",Soviet Union,4,5,9,18
1,"PHELPS, Michael",United States,2,NaN,14,16
2,"ANDRIANOV, Nikolay",Soviet Union,3,5,7,15
3,"MANGIAROTTI, Edoardo",Italy,2,5,6,13
4,"ONO, Takashi",Japan,4,4,5,13
5,"SHAKHLIN, Boris",Soviet Union,2,4,7,13
6,"FISCHER, Birgit",East Germany,NaN,4,8,12
7,"KATO, Sawao",Japan,1,3,8,12
8,"NEMOV, Alexei",Russia,6,2,4,12
9,"NURMI, Paavo",Finland,NaN,3,9,12
10,"THOMPSON, Jenny",United States,1,3,8,12
11,"TORRES, Dara",United States,4,4,4,12
12,"BIONDI, Matthew",United States,1,2,8,11
13,"CASLAVSKA, Vera",Czechoslovakia,NaN,4,7,11
14,"CHUKARIN, Viktor Ivanovich",Soviet Union,1,3,7,11
15,"COUGHLIN, Natalie",United States,4,4,3,11
16,"OSBURN, Carl Townsend",United States,2,4,5,11
17,"SPITZ, Mark",United States,1,1,9,11
18,"ASTAKHOVA, Polina",Soviet Union,3,2,5,10
19,"DITYATIN, Aleksandr",Soviet Union,1,6,3,10
20,"GEREVICH, Aladar",Hungary,2,1,7,10
21,"HALL, Gary Jr.",United States,2,3,5,10
22,"KELETI, Agnes",Hungary,2,3,5,10
23,"LEWIS, Carl",United States,NaN,1,9,10
24,"NAKAYAMA, Akinori",Japan,2,2,6,10
25,"SCHERBO, Vitaly",Unified team,4,NaN,6,10
26,"VAN ALMSICK, Franziska",Germany,6,4,NaN,10
27,"COMANECI, Nadia",Romania,1,3,5,9
28,"GAUDINI, Giulio",Italy,2,4,3,9
29,"KENMOTSU, Eizo",Japan,3,3,3,9
30,"OTTEY-PAGE, Merlene",Jamaica,6,3,NaN,9
31,"POPOV, Alexander",Unified team,NaN,5,4,9
32,"SAVOLAINEN, Heikki",Finland,6,1,2,9
33,"SWAHN, Alfred",Sweden,3,3,3,9
34,"THORPE, Ian",Australia,1,3,5,9
35,"TITOV, Yuri",Soviet Union,3,5,1,9
36,"TSUKAHARA, Mitsuo",Japan,3,1,5,9
37,"TURISCHEVA, Lyudmila",Soviet Union,2,3,4,9
38,"VAN INNIS, Hubert",Belgium,NaN,3,6,9
39,"VORONIN, Mikhail",Soviet Union,1,6,2,9
40,"BABASHOFF, Shirley Farber",United States,NaN,6,2,8
41,"CARLBERG, G. Vilhelm",Sweden,NaN,4,4,8
42,"CATTIAU, Philippe",France,1,4,3,8
43,"DE BRUIJN, Inge",Netherlands,2,2,4,8
44,"DUCRET, Roger François",France,1,4,3,8
45,"ENDER, Kornelia",East Germany,NaN,4,4,8
46,"EWRY, Ray",United States,NaN,NaN,8,8
47,"FRASER, Dawn",Australia,NaN,4,4,8
48,"FREDRIKSSON, Gert",Sweden,1,1,6,8
49,"JONES, Leisel",Australia,1,4,3,8
50,"KLIMKE, Reiner",Unified team of Germany,2,NaN,6,8
51,"KORONDI, Margit",Hungary,4,2,2,8
52,"LIPA, Elisabeta",Romania,1,2,5,8
53,"MACK, Eugen",Switzerland,2,4,2,8
54,"MATTHES, Roland",East Germany,2,2,4,8
55,"MIEZ, Georges",Switzerland,1,3,4,8
56,"MURATOVA, Sofiya",Soviet Union,4,2,2,8
57,"O'NEILL, Susan",Australia,2,4,2,8
58,"OLSEN, Otto M.",Norway,1,3,4,8
59,"RITOLA, Ville",Finland,NaN,3,5,8
60,"SAUTIN, Dmitry",Unified team,4,2,2,8
61,"THOMAS, Petria",Australia,1,4,3,8
62,"TRILLINI, Giovanna",Italy,3,1,4,8
63,"VAN GRUNSVEN, Anky",Netherlands,NaN,5,3,8
64,"WERTH, Isabell",Germany,NaN,3,5,8
65,"AMANAR, Simona",Romania,3,1,3,7
66,"ANDERSSON, Agneta",Sweden,2,2,3,7
67,"BEARD, Amanda",United States,1,4,2,7
68,"COVENTRY, Kirsty",Zimbabwe,1,4,2,7
69,"DANIELS, Charles",United States,2,1,4,7
70,"EGERSZEGI, Krisztina",Hungary,1,1,5,7
71,"ENDO, Yukio",Japan,NaN,2,5,7
72,"GOROKHOVSKAYA, Mariya",Soviet Union,NaN,5,2,7
73,"HACKETT, Grant",Australia,1,3,3,7
74,"HALMAY, Zoltan",Hungary,1,4,2,7
75,"HASE, Dagmar",Germany,1,5,1,7
76,"JANZ, Karin",East Germany,2,3,2,7
77,"KHORKINA, Svetlana",Russia,1,4,2,7
78,"KOVACS, Pal Adam",Hungary,1,NaN,6,7
79,"LEDNEV, Pavel",Soviet Union,3,2,2,7
80,"LEE, Willis",United States,1,1,5,7
81,"LEZAK, Jason",United States,2,1,4,7
82,"LIBERG, Einar",Norway,1,2,4,7
83,"MARZI, Gustavo",Italy,NaN,5,2,7
84,"MILLER, Shannon",United States,3,2,2,7
85,"PATZAICHIN, Ivan",Romania,NaN,3,4,7
86,"PEIRSOL, Aaron",United States,NaN,2,5,7
87,"REJTO-UJLAKI, Ildiko",Hungary,2,3,2,7
88,"SPOONER, Lloyd Spencer",United States,2,1,4,7
89,"STALDER, Josef",Switzerland,3,3,1,7
90,"STRICKLAND-DE LA HUNTY, Shirley",Australia,3,1,3,7
91,"SZEWINSKA, Irena",Poland,2,2,3,7
92,"SZIVOS, Istvan",Hungary,2,2,3,7
93,"TAKEMOTO, Masao",Japan,3,3,1,7
94,"VAN DEN HOOGENBAND, Pieter",Netherlands,2,2,3,7
95,"VEZZALI, Valentina",Italy,1,1,5,7
96,"WINKLER, Hans Günter",Unified team of Germany,1,1,5,7
97,"ANDRUNACHE, Georgeta",Romania,1,NaN,5,6
98,"COCHELEA, Veronica",Romania,1,3,2,6
99,"D'INZEO, Piero",Italy,4,2,NaN,6
100,"D'INZEO, Raimondo",Italy,3,2,1,6
101,"D'ORIOLA, Christian",France,NaN,2,4,6
102,"DE MONTIGNY, Fernand",Belgium,2,3,1,6
103,"DELFINO, Giuseppe",Italy,NaN,2,4,6
104,"DOWNING, Burton",United States,1,3,2,6
105,"EYSER, George",United States,1,2,3,6
106,"FREY, Konrad",Germany,2,1,3,6
107,"GARRETT, Robert",United States,2,2,2,6
108,"GAUDIN, Lucien",France,NaN,2,4,6
109,"GROSS, Michael",West Germany,1,2,3,6
110,"GUO, Jingjing",China,NaN,2,4,6
111,"HEIDA, Anton",United States,NaN,1,5,6
112,"HELM, Rüdiger",East Germany,3,NaN,3,6
113,"HOLMANN, Knut",Norway,1,2,3,6
114,"HUNGER, Daniela",East Germany,3,1,2,6
115,"IGNAT, Doina",Romania,1,1,4,6
116,"JOYNER-KERSEE, Jackie",United States,2,1,3,6
117,"KARPATI, Rudolf",Hungary,NaN,NaN,6,6
118,"KIM, Nelli",Soviet Union,NaN,1,5,6
119,"KIM, Soo-Nyung","Korea, South",1,1,4,6
120,"KITAJIMA, Kosuke",Japan,2,NaN,4,6
121,"KLIM, Michael",Australia,1,3,2,6
122,"KOBAN, Rita",Hungary,1,3,2,6
123,"KOLOBKOV, Pavel",Soviet Union,3,2,1,6
124,"KORBUT, Olga",Soviet Union,NaN,2,4,6
125,"KOVACS, Katalin",Hungary,NaN,4,2,6
126,"KULCSAR, Gyözö",Hungary,2,NaN,4,6
127,"LANE, Alfred P.",United States,1,NaN,5,6
128,"LI, Ning",China,1,2,3,6
129,"LI, Xiaosahuang",China,1,3,2,6
130,"LILLOE-OLSEN, Ole Andreas",Norway,NaN,1,5,6
131,"LOCHTE, Ryan",United States,2,1,3,6
132,"MANINA, Tamara",Soviet Union,1,3,2,6
133,"MARTINO, Angel",United States,3,NaN,3,6
134,"MILOSOVICI, Lavinia Corina",Romania,3,1,2,6
135,"MISUTIN, Grigori",Unified team,1,4,1,6
136,"NADI, Nedo",Italy,NaN,NaN,6,6
137,"NATVIG, Harald",Norway,1,2,3,6
138,"NAZLYMOV, Vladimir",Soviet Union,1,2,3,6
139,"NECKERMANN, Josef",Unified team of Germany,2,2,2,6
140,"NOVIKOVA-BELOVA, Elena",Soviet Union,1,1,4,6
141,"OTTO, Kristin",East Germany,NaN,NaN,6,6
142,"PLUMB, John Michael",United States,NaN,4,2,6
143,"POLLACK, Andrea",East Germany,NaN,3,3,6
144,"REDGRAVE, Steven",United Kingdom,1,NaN,5,6
145,"REVENU, Daniel",France,5,NaN,1,6
146,"RIBOUD, Philippe",France,2,2,2,6
147,"ROSE, Murray",Australia,1,1,4,6
148,"ROSE, Ralph",United States,1,2,3,6
149,"SCHOLLANDER, Donald Arthur",United States,NaN,1,5,6
150,"SCHWARZMANN, Karl-Alfred",Germany,2,1,3,6
151,"SIDYAK, Viktor",Soviet Union,1,1,4,6
152,"SILIVAS, Daniela",Romania,1,2,3,6
153,"STECHER, Renate",East Germany,1,2,3,6
154,"STUKELJ, Leon",Yugoslavia,2,1,3,6
155,"SWAHN, Oscar",Sweden,2,1,3,6
156,"TASS LEMHENYI, Olga",Hungary,2,3,1,6
157,"TRICKETT, Lisbeth",Australia,2,1,3,6
158,"TSURUMI, Shuji",Japan,1,3,2,6
159,"VAN DYKEN, Amy",United States,NaN,NaN,6,6
160,"WANG, Yifu",China,1,3,2,6
161,"WEINGÄRTNER, Hermann",Germany,1,2,3,6
162,"WEISSMULLER, Johnny",United States,1,NaN,5,6
163,"WIGGINS, Bradley",United Kingdom,2,1,3,6
164,"ZIJLAARD-VAN MOORSEL, Leontien",Netherlands,1,1,4,6
165,"AALTONEN, Paavo Johannes",Finland,2,NaN,3,5
166,"ANSPACH, Paul",Belgium,1,2,2,5
167,"ARTEMOV, Vladimir",Soviet Union,NaN,1,4,5
168,"ASHFORD, Evelyn",United States,NaN,1,4,5
169,"BALCZO, Andras",Hungary,NaN,2,3,5
170,"BAU, Sabine Christiane",West Germany,2,2,1,5
171,"BAXTER, Irving",United States,NaN,3,2,5
172,"BERCZELLY, Tibor",Hungary,2,NaN,3,5
173,"BERESFORD, Jack",United Kingdom,NaN,2,3,5
174,"BLUHM, Kay",East Germany,1,1,3,5
175,"BORG, Arne",Sweden,2,2,1,5
176,"BORON, Kathrin",Germany,1,NaN,4,5
177,"BORZOV, Valery",Soviet Union,2,1,2,5
178,"BRÜCKNER, Roland",East Germany,3,1,1,5
179,"BRULE, Julien Louis",France,1,3,1,5
180,"BUCHARD, Georges",France,1,2,2,5
181,"BURCICA, Constanta",Romania,1,1,3,5
182,"BUSCHSCHULTE, Antje",Germany,5,NaN,NaN,5
183,"CAMPBELL-BROWN, Veronica",Jamaica,1,1,3,5
184,"CARLBERG, Eric",Sweden,NaN,3,2,5
185,"CHAMMARTIN, Henri",Switzerland,2,2,1,5
186,"CHARLTON, Andrew",Australia,1,3,1,5
187,"CHEN, Jing",China,1,2,2,5
188,"CONNOLLY, James",United States,2,2,1,5
189,"CROCKER, Ian",United States,1,1,3,5
190,"DAVIS, Josh",United States,NaN,2,3,5
191,"DE JONG, Adrianus Egbertus Willem",Netherlands,5,NaN,NaN,5
192,"DI ROSA, Manlio",Italy,1,2,2,5
193,"DIBIASI, Klaus",Italy,NaN,2,3,5
194,"DIERS, Ines",East Germany,1,2,2,5
195,"DIETRICH, Wilfried",Unified team of Germany,2,2,1,5
196,"DITTMER, Andreas",Germany,1,1,3,5
197,"DRECHSLER, Heike",East Germany,2,1,2,5
198,"EDWARDS, Philip",Canada,5,NaN,NaN,5
199,"EDWARDS, Teresa",United States,1,NaN,4,5
200,"ERIKSSON, Mauritz",Sweden,3,1,1,5
201,"EVANS, Janet",United States,NaN,1,4,5
202,"FENTON, Dennis",United States,2,NaN,3,5
203,"FERGUSON, Ian Gordon",New Zealand,NaN,1,4,5
204,"FIEDLER, Jens",Germany,2,NaN,3,5
205,"FISCHER, Gustav",Switzerland,2,3,NaN,5
206,"FISHER, Morris",United States,NaN,NaN,5,5
207,"FLESSEL-COLOVIC, Laura",France,2,1,2,5
208,"FONST, Ramon",Cuba,NaN,1,4,5
209,"FU, Mingxia",China,NaN,1,4,5
210,"GEORGESCU, Elena",Romania,1,1,3,5
211,"GOGEAN, Gina Elena",Romania,3,2,NaN,5
212,"GOROKHOVA, Galina",Soviet Union,1,1,3,5
213,"GOULD, Shane",Australia,1,1,3,5
214,"GRAEL, Torben",Brazil,2,1,2,5
215,"GRIFFITH-JOYNER, Florence",United States,NaN,2,3,5
216,"GROZDEVA, Maria",Bulgaria,3,NaN,2,5
217,"GUSHIKEN, Koji",Japan,2,1,2,5
218,"GYARMATI, Dezso",Hungary,1,1,3,5
219,"HELGERUD, Albert",Norway,1,2,2,5
220,"HENCKEN, John Frederick",United States,1,1,3,5
221,"HEUKRODT, Olaf",East Germany,2,2,1,5
222,"HOLMERTZ, Anders",Sweden,1,4,NaN,5
223,"HOY, Chris",United Kingdom,NaN,1,4,5
224,"HUHTANEN, Veikko",Finland,1,1,3,5
225,"HURLEY, Marcus",United States,1,NaN,4,5
226,"IDEM, Josefa",West Germany,2,2,1,5
227,"JOHANSSON, Carl Hugo",Sweden,3,NaN,2,5
228,"JOUSSEAUME, Andre Rene",France,1,2,2,5
229,"KAHANAMOKU, Duke Paoa",United States,NaN,2,3,5
230,"KARSTEN, Ekaterina",Unified team,2,1,2,5
231,"KELLER, Klete",United States,2,1,2,5
232,"KLIMENKO, Viktor",Soviet Union,1,3,1,5
233,"KLOCHKOVA, Yana",Ukraine,NaN,1,4,5
234,"KOLEHMAINEN, Hannes",Finland,NaN,1,4,5
235,"LAMOUR, Jean-Francois",France,2,1,2,5
236,"LANDELIUS, P. Fredric",Sweden,2,3,NaN,5
237,"LARSEN, Niels Hansen Ditlev",Denmark,3,1,1,5
238,"LEBEDEVA, Tatyana",Russia,1,3,1,5
239,"LI, Xiaopeng",China,1,NaN,4,5
240,"LINSENHOFF, Liselott",Unified team of Germany,1,2,2,5
241,"LISITSKY, Viktor",Soviet Union,NaN,5,NaN,5
242,"LIUKIN, Nastia",United States,1,3,1,5
243,"LOGVINENKO, Marina",Soviet Union,2,1,2,5
244,"LOU, Yun",China,1,2,2,5
245,"LOUGANIS, Gregory",United States,NaN,1,4,5
246,"MAC DONALD, Christopher Paul",New Zealand,1,1,3,5
247,"MADSEN, Lars Jörgen",Denmark,1,2,2,5
248,"MASSULLO, Carlo",Italy,2,2,1,5
249,"MCGEE, Bradley",Australia,3,1,1,5
250,"MEAGHER, Mary T.",United States,1,1,3,5
251,"MENICHELLI, Franco",Italy,3,1,1,5
252,"MERZ, William",United States,4,1,NaN,5
253,"MONTANO, Aldo",Italy,1,3,1,5
254,"MORALES, Pablo",United States,NaN,2,3,5
255,"MORELON, Daniel",France,1,1,3,5
256,"MURATOV, Valentin",Soviet Union,NaN,1,4,5
257,"NABER, John Phillips",United States,NaN,1,4,5
258,"NOËL, Christian",France,4,NaN,1,5
259,"NUESSLEIN, Lawrence Adam",United States,2,1,2,5
260,"OLSEN, Jon",United States,1,NaN,4,5
261,"ÖSTENSEN, Östen",Norway,2,3,NaN,5
262,"PAHUD DE MORTANGES, Charles Ferdinand",Netherlands,NaN,1,4,5
263,"PAROCHE, Achille",France,1,3,1,5
264,"PAWLOWSKI, Jerzy",Poland,1,3,1,5
265,"PORTWICH, Ramona",East Germany,NaN,2,3,5
266,"POZDNYAKOV, Stanislav",Unified team,1,NaN,4,5
267,"PROZUMENSCHIKOVA-STEPANOVA, Galina",Soviet Union,2,2,1,5
268,"PULITI, Oreste",Italy,NaN,1,4,5
269,"RETTON, Mary-Lou",United States,2,2,1,5
270,"REUSCH, Michael",Switzerland,NaN,4,1,5
271,"ROMANKOV, Aleksander",Soviet Union,2,2,1,5
272,"ROSSI, Antonio",Italy,1,1,3,5
273,"SCHUMANN, Ralf",East Germany,NaN,2,3,5
274,"SEKARIC, Jasna",Yugoslavia,1,3,1,5
275,"SHEPPARD, Melvin",United States,NaN,1,4,5
276,"STUECKELBERGER, Christine",Switzerland,1,3,1,5
277,"SUSANU, Viorica",Romania,1,NaN,4,5
278,"SZABO, Ecaterina",Romania,NaN,1,4,5
279,"TACHIBANA, Miya",Japan,1,4,NaN,5
280,"TAKEDA, Miho",Japan,1,4,NaN,5
281,"TANI, Ryoko",Japan,1,2,2,5
282,"TAYLOR, Henry",United Kingdom,2,NaN,3,5
283,"TEWKSBURY, Walter B. John",United States,1,2,2,5
284,"THOMSON, Earl Foster",United States,NaN,3,2,5
285,"TODD, Mark",New Zealand,2,1,2,5
286,"TORRENCE, Gwen",United States,1,1,3,5
287,"VACHA, Ladislav",Czechoslovakia,2,2,1,5
288,"VAN ZO POST, Albertson",Cuba,2,1,2,5
289,"VON HOLST, Johan Hübner",Sweden,1,2,2,5
290,"WAGNER-AUGUSTIN, Katrin",Germany,1,NaN,4,5
291,"WANG, Nan",China,NaN,1,4,5
292,"WECKER, Andreas",East Germany,2,2,1,5
293,"WEGELIUS, Karl Magnus",Finland,4,1,NaN,5
294,"WHITFIELD, Malvin Groston",United States,1,1,3,5
295,"WIDE, Edvin",Sweden,4,1,NaN,5
296,"XIONG, Ni",China,1,1,3,5
297,"YANG, Wei",China,NaN,2,3,5
298,"ZAMPORI, Giorgio",Italy,1,NaN,4,5
299,"ZATOPEK, Emil",Czechoslovakia,NaN,1,4,5
300,"ZUCHOLD, Erika",East Germany,1,4,NaN,5
301,SOURCE: IOC,SOURCE: IOC,SOURCE: IOC,SOURCE: IOC,SOURCE: IOC,SOURCE: IOC

# Data Cleaning

In [ ]:
# The last row (index 301) of df is not relevant

df.tail()

,Athlete,Country,Bronze,Silver,Gold,Grand Total
297,"YANG, Wei",China,NaN,2,3,5
298,"ZAMPORI, Giorgio",Italy,1,NaN,4,5
299,"ZATOPEK, Emil",Czechoslovakia,NaN,1,4,5
300,"ZUCHOLD, Erika",East Germany,1,4,NaN,5
301,SOURCE: IOC,SOURCE: IOC,SOURCE: IOC,SOURCE: IOC,SOURCE: IOC,SOURCE: IOC

In [ ]:
df = df.iloc[:-1]

In [ ]:
df.tail()

              Athlete         Country Bronze Silver Gold Grand Total
296         XIONG, Ni           China      1      1    3           5
297         YANG, Wei           China    NaN      2    3           5
298  ZAMPORI, Giorgio           Italy      1    NaN    4           5
299     ZATOPEK, Emil  Czechoslovakia    NaN      1    4           5
300    ZUCHOLD, Erika    East Germany      1      4  NaN           5

In [ ]:
# Analizing missing values

df.count()

Athlete        301
Country        301
Bronze         232
Silver         262
Gold           283
Grand Total    301
dtype: int64

In [ ]:
# Replacing missing values with zero

df.fillna(0, inplace=True)

df.count()

<ipython-input-9-162a69e1d26d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(0, inplace=True)

Athlete        301
Country        301
Bronze         301
Silver         301
Gold           301
Grand Total    301
dtype: int64

**More data tranformation using functions**

In [ ]:
# Testing alternatives to tranform the 'Athlete' column

a = "VON HOLST, Johan Hübner"

# First alterantive to transform the name

temp = a.casefold().replace(", "," ").title().split(" ")
print(temp)

temp.reverse()

print(temp)


f_name = temp[0]
l_name = temp[1]

res_name = f_name + " " + l_name
print(res_name)

# Second alternative to transform the name

rev = list(reversed(a.title().split(", ")))
print(rev)

res_name = rev[0] + " " + rev[1]
print(res_name)

['Von', 'Holst', 'Johan', 'Hübner']
['Hübner', 'Johan', 'Holst', 'Von']
Hübner Johan
['Johan Hübner', 'Von Holst']
Johan Hübner Von Holst

In [ ]:
def transform_name(x):
    """
    Reverse the name of the Athlete column
    """
    x = list(reversed(x.title().split(", ")))
    return x[0] + " " + x[1]

df['Athlete'] = df['Athlete'].apply(transform_name)

<ipython-input-20-7fd03f8c819a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Athlete'] = df['Athlete'].apply(transform_name)

In [ ]:
df

,Athlete,Country,Bronze,Silver,Gold,Grand Total
0,Larisa Latynina,Soviet Union,4,5,9,18
1,Michael Phelps,United States,2,0,14,16
2,Nikolay Andrianov,Soviet Union,3,5,7,15
3,Edoardo Mangiarotti,Italy,2,5,6,13
4,Takashi Ono,Japan,4,4,5,13
5,Boris Shakhlin,Soviet Union,2,4,7,13
6,Birgit Fischer,East Germany,0,4,8,12
7,Sawao Kato,Japan,1,3,8,12
8,Alexei Nemov,Russia,6,2,4,12
9,Paavo Nurmi,Finland,0,3,9,12
10,Jenny Thompson,United States,1,3,8,12
11,Dara Torres,United States,4,4,4,12
12,Matthew Biondi,United States,1,2,8,11
13,Vera Caslavska,Czechoslovakia,0,4,7,11
14,Viktor Ivanovich Chukarin,Soviet Union,1,3,7,11
15,Natalie Coughlin,United States,4,4,3,11
16,Carl Townsend Osburn,United States,2,4,5,11
17,Mark Spitz,United States,1,1,9,11
18,Polina Astakhova,Soviet Union,3,2,5,10
19,Aleksandr Dityatin,Soviet Union,1,6,3,10
20,Aladar Gerevich,Hungary,2,1,7,10
21,Gary Jr. Hall,United States,2,3,5,10
22,Agnes Keleti,Hungary,2,3,5,10
23,Carl Lewis,United States,0,1,9,10
24,Akinori Nakayama,Japan,2,2,6,10
25,Vitaly Scherbo,Unified team,4,0,6,10
26,Franziska Van Almsick,Germany,6,4,0,10
27,Nadia Comaneci,Romania,1,3,5,9
28,Giulio Gaudini,Italy,2,4,3,9
29,Eizo Kenmotsu,Japan,3,3,3,9
30,Merlene Ottey-Page,Jamaica,6,3,0,9
31,Alexander Popov,Unified team,0,5,4,9
32,Heikki Savolainen,Finland,6,1,2,9
33,Alfred Swahn,Sweden,3,3,3,9
34,Ian Thorpe,Australia,1,3,5,9
35,Yuri Titov,Soviet Union,3,5,1,9
36,Mitsuo Tsukahara,Japan,3,1,5,9
37,Lyudmila Turischeva,Soviet Union,2,3,4,9
38,Hubert Van Innis,Belgium,0,3,6,9
39,Mikhail Voronin,Soviet Union,1,6,2,9
40,Shirley Farber Babashoff,United States,0,6,2,8
41,G. Vilhelm Carlberg,Sweden,0,4,4,8
42,Philippe Cattiau,France,1,4,3,8
43,Inge De Bruijn,Netherlands,2,2,4,8
44,Roger François Ducret,France,1,4,3,8
45,Kornelia Ender,East Germany,0,4,4,8
46,Ray Ewry,United States,0,0,8,8
47,Dawn Fraser,Australia,0,4,4,8
48,Gert Fredriksson,Sweden,1,1,6,8
49,Leisel Jones,Australia,1,4,3,8
50,Reiner Klimke,Unified team of Germany,2,0,6,8
51,Margit Korondi,Hungary,4,2,2,8
52,Elisabeta Lipa,Romania,1,2,5,8
53,Eugen Mack,Switzerland,2,4,2,8
54,Roland Matthes,East Germany,2,2,4,8
55,Georges Miez,Switzerland,1,3,4,8
56,Sofiya Muratova,Soviet Union,4,2,2,8
57,Susan O'Neill,Australia,2,4,2,8
58,Otto M. Olsen,Norway,1,3,4,8
59,Ville Ritola,Finland,0,3,5,8
60,Dmitry Sautin,Unified team,4,2,2,8
61,Petria Thomas,Australia,1,4,3,8
62,Giovanna Trillini,Italy,3,1,4,8
63,Anky Van Grunsven,Netherlands,0,5,3,8
64,Isabell Werth,Germany,0,3,5,8
65,Simona Amanar,Romania,3,1,3,7
66,Agneta Andersson,Sweden,2,2,3,7
67,Amanda Beard,United States,1,4,2,7
68,Kirsty Coventry,Zimbabwe,1,4,2,7
69,Charles Daniels,United States,2,1,4,7
70,Krisztina Egerszegi,Hungary,1,1,5,7
71,Yukio Endo,Japan,0,2,5,7
72,Mariya Gorokhovskaya,Soviet Union,0,5,2,7
73,Grant Hackett,Australia,1,3,3,7
74,Zoltan Halmay,Hungary,1,4,2,7
75,Dagmar Hase,Germany,1,5,1,7
76,Karin Janz,East Germany,2,3,2,7
77,Svetlana Khorkina,Russia,1,4,2,7
78,Pal Adam Kovacs,Hungary,1,0,6,7
79,Pavel Lednev,Soviet Union,3,2,2,7
80,Willis Lee,United States,1,1,5,7
81,Jason Lezak,United States,2,1,4,7
82,Einar Liberg,Norway,1,2,4,7
83,Gustavo Marzi,Italy,0,5,2,7
84,Shannon Miller,United States,3,2,2,7
85,Ivan Patzaichin,Romania,0,3,4,7
86,Aaron Peirsol,United States,0,2,5,7
87,Ildiko Rejto-Ujlaki,Hungary,2,3,2,7
88,Lloyd Spencer Spooner,United States,2,1,4,7
89,Josef Stalder,Switzerland,3,3,1,7
90,Shirley Strickland-De La Hunty,Australia,3,1,3,7
91,Irena Szewinska,Poland,2,2,3,7
92,Istvan Szivos,Hungary,2,2,3,7
93,Masao Takemoto,Japan,3,3,1,7
94,Pieter Van Den Hoogenband,Netherlands,2,2,3,7
95,Valentina Vezzali,Italy,1,1,5,7
96,Hans Günter Winkler,Unified team of Germany,1,1,5,7
97,Georgeta Andrunache,Romania,1,0,5,6
98,Veronica Cochelea,Romania,1,3,2,6
99,Piero D'Inzeo,Italy,4,2,0,6
100,Raimondo D'Inzeo,Italy,3,2,1,6
101,Christian D'Oriola,France,0,2,4,6
102,Fernand De Montigny,Belgium,2,3,1,6
103,Giuseppe Delfino,Italy,0,2,4,6
104,Burton Downing,United States,1,3,2,6
105,George Eyser,United States,1,2,3,6
106,Konrad Frey,Germany,2,1,3,6
107,Robert Garrett,United States,2,2,2,6
108,Lucien Gaudin,France,0,2,4,6
109,Michael Gross,West Germany,1,2,3,6
110,Jingjing Guo,China,0,2,4,6
111,Anton Heida,United States,0,1,5,6
112,Rüdiger Helm,East Germany,3,0,3,6
113,Knut Holmann,Norway,1,2,3,6
114,Daniela Hunger,East Germany,3,1,2,6
115,Doina Ignat,Romania,1,1,4,6
116,Jackie Joyner-Kersee,United States,2,1,3,6
117,Rudolf Karpati,Hungary,0,0,6,6
118,Nelli Kim,Soviet Union,0,1,5,6
119,Soo-Nyung Kim,"Korea, South",1,1,4,6
120,Kosuke Kitajima,Japan,2,0,4,6
121,Michael Klim,Australia,1,3,2,6
122,Rita Koban,Hungary,1,3,2,6
123,Pavel Kolobkov,Soviet Union,3,2,1,6
124,Olga Korbut,Soviet Union,0,2,4,6
125,Katalin Kovacs,Hungary,0,4,2,6
126,Gyözö Kulcsar,Hungary,2,0,4,6
127,Alfred P. Lane,United States,1,0,5,6
128,Ning Li,China,1,2,3,6
129,Xiaosahuang Li,China,1,3,2,6
130,Ole Andreas Lilloe-Olsen,Norway,0,1,5,6
131,Ryan Lochte,United States,2,1,3,6
132,Tamara Manina,Soviet Union,1,3,2,6
133,Angel Martino,United States,3,0,3,6
134,Lavinia Corina Milosovici,Romania,3,1,2,6
135,Grigori Misutin,Unified team,1,4,1,6
136,Nedo Nadi,Italy,0,0,6,6
137,Harald Natvig,Norway,1,2,3,6
138,Vladimir Nazlymov,Soviet Union,1,2,3,6
139,Josef Neckermann,Unified team of Germany,2,2,2,6
140,Elena Novikova-Belova,Soviet Union,1,1,4,6
141,Kristin Otto,East Germany,0,0,6,6
142,John Michael Plumb,United States,0,4,2,6
143,Andrea Pollack,East Germany,0,3,3,6
144,Steven Redgrave,United Kingdom,1,0,5,6
145,Daniel Revenu,France,5,0,1,6
146,Philippe Riboud,France,2,2,2,6
147,Murray Rose,Australia,1,1,4,6
148,Ralph Rose,United States,1,2,3,6
149,Donald Arthur Schollander,United States,0,1,5,6
150,Karl-Alfred Schwarzmann,Germany,2,1,3,6
151,Viktor Sidyak,Soviet Union,1,1,4,6
152,Daniela Silivas,Romania,1,2,3,6
153,Renate Stecher,East Germany,1,2,3,6
154,Leon Stukelj,Yugoslavia,2,1,3,6
155,Oscar Swahn,Sweden,2,1,3,6
156,Olga Tass Lemhenyi,Hungary,2,3,1,6
157,Lisbeth Trickett,Australia,2,1,3,6
158,Shuji Tsurumi,Japan,1,3,2,6
159,Amy Van Dyken,United States,0,0,6,6
160,Yifu Wang,China,1,3,2,6
161,Hermann Weingärtner,Germany,1,2,3,6
162,Johnny Weissmuller,United States,1,0,5,6
163,Bradley Wiggins,United Kingdom,2,1,3,6
164,Leontien Zijlaard-Van Moorsel,Netherlands,1,1,4,6
165,Paavo Johannes Aaltonen,Finland,2,0,3,5
166,Paul Anspach,Belgium,1,2,2,5
167,Vladimir Artemov,Soviet Union,0,1,4,5
168,Evelyn Ashford,United States,0,1,4,5
169,Andras Balczo,Hungary,0,2,3,5
170,Sabine Christiane Bau,West Germany,2,2,1,5
171,Irving Baxter,United States,0,3,2,5
172,Tibor Berczelly,Hungary,2,0,3,5
173,Jack Beresford,United Kingdom,0,2,3,5
174,Kay Bluhm,East Germany,1,1,3,5
175,Arne Borg,Sweden,2,2,1,5
176,Kathrin Boron,Germany,1,0,4,5
177,Valery Borzov,Soviet Union,2,1,2,5
178,Roland Brückner,East Germany,3,1,1,5
179,Julien Louis Brule,France,1,3,1,5
180,Georges Buchard,France,1,2,2,5
181,Constanta Burcica,Romania,1,1,3,5
182,Antje Buschschulte,Germany,5,0,0,5
183,Veronica Campbell-Brown,Jamaica,1,1,3,5
184,Eric Carlberg,Sweden,0,3,2,5
185,Henri Chammartin,Switzerland,2,2,1,5
186,Andrew Charlton,Australia,1,3,1,5
187,Jing Chen,China,1,2,2,5
188,James Connolly,United States,2,2,1,5
189,Ian Crocker,United States,1,1,3,5
190,Josh Davis,United States,0,2,3,5
191,Adrianus Egbertus Willem De Jong,Netherlands,5,0,0,5
192,Manlio Di Rosa,Italy,1,2,2,5
193,Klaus Dibiasi,Italy,0,2,3,5
194,Ines Diers,East Germany,1,2,2,5
195,Wilfried Dietrich,Unified team of Germany,2,2,1,5
196,Andreas Dittmer,Germany,1,1,3,5
197,Heike Drechsler,East Germany,2,1,2,5
198,Philip Edwards,Canada,5,0,0,5
199,Teresa Edwards,United States,1,0,4,5
200,Mauritz Eriksson,Sweden,3,1,1,5
201,Janet Evans,United States,0,1,4,5
202,Dennis Fenton,United States,2,0,3,5
203,Ian Gordon Ferguson,New Zealand,0,1,4,5
204,Jens Fiedler,Germany,2,0,3,5
205,Gustav Fischer,Switzerland,2,3,0,5
206,Morris Fisher,United States,0,0,5,5
207,Laura Flessel-Colovic,France,2,1,2,5
208,Ramon Fonst,Cuba,0,1,4,5
209,Mingxia Fu,China,0,1,4,5
210,Elena Georgescu,Romania,1,1,3,5
211,Gina Elena Gogean,Romania,3,2,0,5
212,Galina Gorokhova,Soviet Union,1,1,3,5
213,Shane Gould,Australia,1,1,3,5
214,Torben Grael,Brazil,2,1,2,5
215,Florence Griffith-Joyner,United States,0,2,3,5
216,Maria Grozdeva,Bulgaria,3,0,2,5
217,Koji Gushiken,Japan,2,1,2,5
218,Dezso Gyarmati,Hungary,1,1,3,5
219,Albert Helgerud,Norway,1,2,2,5
220,John Frederick Hencken,United States,1,1,3,5
221,Olaf Heukrodt,East Germany,2,2,1,5
222,Anders Holmertz,Sweden,1,4,0,5
223,Chris Hoy,United Kingdom,0,1,4,5
224,Veikko Huhtanen,Finland,1,1,3,5
225,Marcus Hurley,United States,1,0,4,5
226,Josefa Idem,West Germany,2,2,1,5
227,Carl Hugo Johansson,Sweden,3,0,2,5
228,Andre Rene Jousseaume,France,1,2,2,5
229,Duke Paoa Kahanamoku,United States,0,2,3,5
230,Ekaterina Karsten,Unified team,2,1,2,5
231,Klete Keller,United States,2,1,2,5
232,Viktor Klimenko,Soviet Union,1,3,1,5
233,Yana Klochkova,Ukraine,0,1,4,5
234,Hannes Kolehmainen,Finland,0,1,4,5
235,Jean-Francois Lamour,France,2,1,2,5
236,P. Fredric Landelius,Sweden,2,3,0,5
237,Niels Hansen Ditlev Larsen,Denmark,3,1,1,5
238,Tatyana Lebedeva,Russia,1,3,1,5
239,Xiaopeng Li,China,1,0,4,5
240,Liselott Linsenhoff,Unified team of Germany,1,2,2,5
241,Viktor Lisitsky,Soviet Union,0,5,0,5
242,Nastia Liukin,United States,1,3,1,5
243,Marina Logvinenko,Soviet Union,2,1,2,5
244,Yun Lou,China,1,2,2,5
245,Gregory Louganis,United States,0,1,4,5
246,Christopher Paul Mac Donald,New Zealand,1,1,3,5
247,Lars Jörgen Madsen,Denmark,1,2,2,5
248,Carlo Massullo,Italy,2,2,1,5
249,Bradley Mcgee,Australia,3,1,1,5
250,Mary T. Meagher,United States,1,1,3,5
251,Franco Menichelli,Italy,3,1,1,5
252,William Merz,United States,4,1,0,5
253,Aldo Montano,Italy,1,3,1,5
254,Pablo Morales,United States,0,2,3,5
255,Daniel Morelon,France,1,1,3,5
256,Valentin Muratov,Soviet Union,0,1,4,5
257,John Phillips Naber,United States,0,1,4,5
258,Christian Noël,France,4,0,1,5
259,Lawrence Adam Nuesslein,United States,2,1,2,5
260,Jon Olsen,United States,1,0,4,5
261,Östen Östensen,Norway,2,3,0,5
262,Charles Ferdinand Pahud De Mortanges,Netherlands,0,1,4,5
263,Achille Paroche,France,1,3,1,5
264,Jerzy Pawlowski,Poland,1,3,1,5
265,Ramona Portwich,East Germany,0,2,3,5
266,Stanislav Pozdnyakov,Unified team,1,0,4,5
267,Galina Prozumenschikova-Stepanova,Soviet Union,2,2,1,5
268,Oreste Puliti,Italy,0,1,4,5
269,Mary-Lou Retton,United States,2,2,1,5
270,Michael Reusch,Switzerland,0,4,1,5
271,Aleksander Romankov,Soviet Union,2,2,1,5
272,Antonio Rossi,Italy,1,1,3,5
273,Ralf Schumann,East Germany,0,2,3,5
274,Jasna Sekaric,Yugoslavia,1,3,1,5
275,Melvin Sheppard,United States,0,1,4,5
276,Christine Stueckelberger,Switzerland,1,3,1,5
277,Viorica Susanu,Romania,1,0,4,5
278,Ecaterina Szabo,Romania,0,1,4,5
279,Miya Tachibana,Japan,1,4,0,5
280,Miho Takeda,Japan,1,4,0,5
281,Ryoko Tani,Japan,1,2,2,5
282,Henry Taylor,United Kingdom,2,0,3,5
283,Walter B. John Tewksbury,United States,1,2,2,5
284,Earl Foster Thomson,United States,0,3,2,5
285,Mark Todd,New Zealand,2,1,2,5
286,Gwen Torrence,United States,1,1,3,5
287,Ladislav Vacha,Czechoslovakia,2,2,1,5
288,Albertson Van Zo Post,Cuba,2,1,2,5
289,Johan Hübner Von Holst,Sweden,1,2,2,5
290,Katrin Wagner-Augustin,Germany,1,0,4,5
291,Nan Wang,China,0,1,4,5
292,Andreas Wecker,East Germany,2,2,1,5
293,Karl Magnus Wegelius,Finland,4,1,0,5
294,Malvin Groston Whitfield,United States,1,1,3,5
295,Edvin Wide,Sweden,4,1,0,5
296,Ni Xiong,China,1,1,3,5
297,Wei Yang,China,0,2,3,5
298,Giorgio Zampori,Italy,1,0,4,5
299,Emil Zatopek,Czechoslovakia,0,1,4,5
300,Erika Zuchold,East Germany,1,4,0,5

# Creating functions to implement a tranformation pipeline

In [ ]:
# Extract data from website

def extract(df, url):
    with requests.Session() as session:
      try:
          response = session.get(url, timeout=10)
          response.raise_for_status()
          # df1 = pd.read_html(response.content)[0]
          df = pd.read_html(response.content)[0]

          print("Data fetched sucessfully")
          return df

      except (ConnectionError):
          print(f"Failed to connect to server")

      except (Timeout):
          print(f"Request timed out")

      except (HTTPError):
          print(f"HTTP error occurred, page not found")

In [ ]:
# Transform data

def remove_last_row(df):
    df = df.iloc[:-1]   # df = df.drop([301]) is another alternative but it's hardcoded
    return df

def fill_missing_values(df):
    df = df.fillna(0)
    return df

def update_athlete_name(df):
    """
    Reverse the name of the Athlete column
    """
    df['Athlete'] = df['Athlete'].apply(transform_name)
    return df

def rename_columns(df):
    df = df.rename(columns= {'Grand Total':'Total Medals'})
    return df

In [ ]:
# Load data
"""
This function is designed to save a Pandas DataFrame (df) to a CSV (Comma-Separated Values) file. This is
typically the final step in a data pipeline, where you want to store the processed data for later use or
analysis.
"""

def load(df, output_file):
    df.to_csv(output_file, index=False)

How it Works:

`def load(df, output_file)`: This line defines the function named load and takes two arguments:

df: The Pandas DataFrame containing the data you want to save.
output_file: The name (and path, if needed) of the file where you want to save the data. This should be a string (e.g., 'output.csv').

`df.to_csv(output_file, index=False)`: This is the core of the function. It uses the to_csv method of the DataFrame to save it as a CSV file.

`output_file`: This is the file name you provided as an argument.

`index=False`: This is an important parameter. Setting it to False tells Pandas not to include the DataFrame's index (the row numbers) in the output CSV file. This is often preferred to keep the data clean and focused on the actual content.

# Creating the actual pipeline

In [ ]:
df = (pd.DataFrame().
      pipe(extract, url).
      pipe(remove_last_row).
      pipe(fill_missing_values).
      pipe(update_athlete_name).
      pipe(rename_columns).
      pipe(load, r"C:\Documents\Samy\Personal Development\Online_Courses\Machine Learning\medals.csv"))

Data fetched sucessfully

In [ ]:
df_new = pd.read_csv(r"C:\Documents\Samy\Personal Development\Online_Courses\Machine Learning\medals.csv")

In [ ]:
df_new.tail()

             Athlete         Country  Bronze  Silver  Gold  Total Medals
296         Ni Xiong           China       1       1     3             5
297         Wei Yang           China       0       2     3             5
298  Giorgio Zampori           Italy       1       0     4             5
299     Emil Zatopek  Czechoslovakia       0       1     4             5
300    Erika Zuchold    East Germany       1       4     0             5

In [ ]:
medals_country = df_new.groupby('Country')['Total Medals'].sum().sort_values(ascending=False)

print(medals_country)

Country
United States              387
Soviet Union               213
East Germany               110
Italy                      108
Hungary                    108
Japan                       99
Australia                   88
Romania                     86
France                      80
Sweden                      78
Germany                     68
China                       59
Finland                     49
Unified team                43
Norway                      43
Switzerland                 43
Netherlands                 39
Unified team of Germany     31
United Kingdom              27
Russia                      24
Czechoslovakia              21
Belgium                     20
West Germany                16
New Zealand                 15
Jamaica                     14
Poland                      12
Yugoslavia                  11
Denmark                     10
Cuba                        10
Zimbabwe                     7
Korea, South                 6
Ukraine                      5
Canada                       5
Bulgaria                     5
Brazil                       5
Name: Total Medals, dtype: int64

Explanation:

`df_new.groupby('Country')`:

`df_new`: This is the Pandas DataFrame you want to group.
`.groupby('Country')`: This is the core of the groupby operation. It groups the rows of the DataFrame based on the values in the 'Country' column. This creates a GroupBy object.

Think of it like this: Imagine sorting a deck of cards by suit. groupby is like separating the cards into four piles (hearts, diamonds, clubs, spades). Each pile represents a group.

`['Grand Total']`

This is formatted as code:

This part selects a specific column ('Grand Total' in this case) from each group.
It's applied to the GroupBy object created in the previous step.
Continuing with the card analogy: This is like selecting only the face cards (Jacks, Queens, Kings) from each of the four piles.

`.count()`:

This is an aggregation function that operates on the selected column ('Grand Total'). It counts the number of non-missing values in that column within each group.
Back to the cards: This is like counting how many face cards are in each of the four piles.

Putting it all together:

The entire line `medals_country = df_new.groupby('Country')['Grand Total'].count()` does the following:

Groups: Divides the DataFrame df_new into groups based on the 'Country' column.
Selects: Selects the 'Grand Total' column from each group.

Aggregates: Counts the number of non-missing values in the 'Grand Total' column within each group (country).
Assigns: Assigns the resulting Series (country names as index, counts as values) to the variable medals_country.

In [ ]:
medals_country.info()

In [ ]:
# Plotting

medals_country.plot(kind='bar', xlabel='Country', ylabel='Total Medals', title='Total Olympic Medals by Country')

In [ ]:
medals_by_country = df_new.groupby('Country')[['Gold', 'Silver', 'Bronze']].sum().sort_values(by=['Gold'], ascending=False).reset_index()

print(medals_by_country)

In [ ]:
# 2. Create the stacked bar chart
medals_by_country.plot(kind='bar', stacked=True, x='Country',y=['Gold', 'Silver', 'Bronze'], figsize=(10, 6))
plt.title('Total Olympic Medals by Country and Type')
plt.xlabel('Country')
plt.ylabel('Total Medals')
plt.legend(title='Medal Type')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.tight_layout()  # Adjust layout to prevent overlapping labels
plt.show()